.ant-input-affix-wrapper > input.ant-input {
  padding-left: 6px;
  background-color: transparent;
}

.search-icon {
  color: #606770;
}

.ant-input-affix-wrapper {
  border-radius: 10px;
  background-color: #f0f2f5;
  color: #050505;
}