.story-overview {
  position: relative;
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
  }

  .story-profile {
    position: absolute;
    left: 5px;
    top: 5px;
  }

  .story-count {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: grey;
    border-radius: 50%;
    color: white;
  }

  .story-title {
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: white;
  }
}
