h3 {
  color: #fff;
  margin-bottom: 0;
}

[nz-carousel-content] {
  text-align: center;
  color: #fff;
  overflow: hidden;
  height: 100%;

  img {
    width: 100%;
    height: 100vh;
  }
}

:host ::ng-deep .ant-carousel .slick-dots {
  margin-left: 15px;
  margin-right: 15px;

  li {
    width: unset;
    flex: 1 1 auto;
  }
}
