<div class="messenger-overview">
  <!-- Profile section  -->
  <div class="messenger-profile">
    <app-profile-overview></app-profile-overview>
  </div>

  <!-- Content section  -->
  <div class="messenger-content">
    <!-- Content title section  -->
    <h3 class="messenger-title">{{ messageTitle }}</h3>

    <!-- Content paragraph section  -->
    <p class="messenger-paragraph">{{ messageContent }}</p>
  </div>

  <!-- Status section  -->
  <div class="messenger-status" *ngIf="messageStatus === 'unread'">
      <span class="unread-icon"></span>
  </div>
</div>
