<div class="page-wrapper">
    <app-navbar></app-navbar>

    <div class="page-content">

        <!-- Search field section  -->
        <section class="search-field">
            <app-search-field></app-search-field>
        </section>

        <!-- List profile overview section  -->
        <section class="list-profile-overview">
        </section>

        <!-- List messenger overview section  -->
        <section class="messenger-overview-list">
            <app-messenger-overview></app-messenger-overview>
        </section>

    </div>
</div>