.profile-wrapper {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;

  .profile-picture {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    display: inline-block;
  }

  .profile-status {
    padding: 2px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    right: 0px;

    .active {
      background-color: #31a24c;
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
  }
}

.profile-title p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  line-height: 16px;
  width: 58px;
  height: 32px;
  margin-bottom: 0px;
}
