<div class="profile-wrapper {{ profileSize }}" [class.has-story]="hasStory">
  <!-- Profile picture -->
  <img class="profile-picture" [src]="profileImage" />

  <!-- Profile status  -->
  <div class="profile-status" ngClass="status">
    <div [ngSwitch]="status">
      <div *ngSwitchCase="'active'" class="active"></div>
      <div *ngSwitchCase="'away'" class="away">55 minutes</div>
    </div>
  </div>
</div>

<!-- Profile title  -->
<div class="profile-title" *ngIf="profileTitle">
  <p>{{ profileTitle }}</p>
</div>
