.profile-wrapper {
  display: inline-block;
  position: relative;

  .profile-picture {
    border-radius: 50%;
    display: inline-block;
  }

  .profile-status {
    padding: 3px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    right: 0px;

    .active {
      background-color: #31a24c;
      border-radius: 50%;
    }
  }

  &.md {
    .profile-picture {
      height: 58px;
      width: 58px;
    }

    .profile-status .active {
      width: 12px;
      height: 12px;
    }
  }

  &.sm {
    .profile-picture {
      height: 40px;
      width: 40px;
    }

    .profile-status .active {
      width: 10px;
      height: 10px;
    }
  }

  &.xs {
    .profile-picture {
      height: 40px;
      width: 40px;
    }
  }

  &.lg {
    .profile-picture {
      height: 40px;
      width: 40px;
    }
  }

  &.has-story {
    .profile-picture {
      padding: 3px;
      border: 2px solid #1876f2;
    }
  }
}

.profile-title p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  line-height: 16px;
  width: 58px;
  height: 32px;
  margin-bottom: 0px;
  margin-top: 5px;
}
