:host ::ng-deep {
  .ant-tabs {
    padding: 0 15px;
  }

  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    border: none;
  }

  .ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: none;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: black;
  }

  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
    width: 100%;
    display: flex;
  }

  .ant-tabs > .ant-tabs-nav,
  .ant-tabs > div > .ant-tabs-nav {
    margin-bottom: 10px;
  }

  .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 5px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
  }

  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
    background-color: white;
  }

  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
    background-color: #fafafa;
  }
}
