.search-field-wrapper {
  padding: 0 15px;
}

.list-profile-overview {
  display: flex;
  width: 100%;
  overflow-x: auto;
  margin: 15px 0px;

  .profile-wrapper {
    margin-right: 20px;
  }

  .profile-wrapper:first-child {
    margin-left: 15px;
  }
}

.list-message-overview {
  padding: 0 15px;

  .message-overview {
    margin-bottom: 15px;
  }
}
