<!-- Search field section  -->
<section class="search-field-wrapper">
  <app-search-field
    (searchKeyword)="searchKeyword($event)"
    (focusInput)="triggerSearchFocused($event)"
  ></app-search-field>
  <span class="cancel-btn" *ngIf="isSearchFocused">Hủy</span>
</section>

<!-- List profile overview section  -->
<section class="list-profile-overview" *ngIf="!isSearchFocused">
  <div
    class="profile-wrapper"
    *ngFor="let profile of [1, 2, 3, 4, 5, 8, 9, 0, 1]"
  >
    <app-profile-overview [profile-title]="'Demo title'"></app-profile-overview>
  </div>
</section>

<!-- List messenger overview section  -->
<section class="list-message-overview" *ngIf="!isSearchFocused">
  <div
    class="message-overview"
    *ngFor="let profile of [1, 2, 3, 4, 5, 8, 9, 0, 1]"
  >
    <app-messenger-overview></app-messenger-overview>
  </div>
</section>

<!-- List profile overview section  -->
<section>
  <div
    *ngFor="let profile of [1, 2, 3, 4, 5, 8, 9, 0, 1, 3, 4, 3, 4, 3, 4, 3, 4]"
  >
    <app-chat-active></app-chat-active>
  </div>
</section>
