<div class="list-feed">
  <div class="story-wrapper">
    <app-story-overview></app-story-overview>
  </div>
  <div class="story-wrapper">
    <app-story-overview></app-story-overview>
  </div>
  <div class="story-wrapper">
    <app-story-overview></app-story-overview>
  </div>
  <div class="story-wrapper">
    <app-story-overview></app-story-overview>
  </div>
  <div class="story-wrapper">
    <app-story-overview></app-story-overview>
  </div>
  <div class="story-wrapper">
    <app-story-overview></app-story-overview>
  </div>
  <div class="story-wrapper">
    <app-story-overview></app-story-overview>
  </div>
  <div class="story-wrapper">
    <app-story-overview></app-story-overview>
  </div>
</div>
