.messenger-overview {
  display: flex;
  height: 58px;

  .messenger-profile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .messenger-content {
    flex: 1 1 auto;
    margin-left: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #f0f2f5;

    .messenger-title {
      font-size: 18px;
      margin: 0px;
      flex-basis: 100%;
    }

    .messenger-description {
      font-size: 14px;
      max-width: calc(100vw - 130px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .messenger-status {
    flex: 0 0 auto;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .unread-icon {
      width: 12px;
      height: 12px;
      background-color: hsl(214, 89%, 52%);
      border-radius: 50%;
    }
  }
}
